<ion-header>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{nome}}</ion-card-subtitle>
      <ion-input type="text"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{telefone}}</ion-card-subtitle>
      <ion-input type="tel"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{cep}}</ion-card-subtitle>
      <ion-input type="number"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{endereco}}</ion-card-subtitle>
      <ion-input type="text"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{bairro}}</ion-card-subtitle>
      <ion-input type="text"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{complemento}}</ion-card-subtitle>
      <ion-input type="text"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{usuario}}</ion-card-subtitle>
      <ion-input type="text"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{senha}}</ion-card-subtitle>
      <ion-input type="password"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Confirme {{senha}}</ion-card-subtitle>
      <ion-input type="password"></ion-input>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-label style="text-align: center">CADASTRAR</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
