<ion-header>
</ion-header>

<ion-content>
  <div class="centralizar">
    <div>
      <img class="imagem" src="assets/icon/iconVentilador.png">
    </div>
    <div>
      <ion-button [routerLink]="['/visitar']" routerDirection="forward" class="visitar" expand="block" color="dark">VISITAR</ion-button>
    </div>
    <div>
      <ion-button [routerLink]="['/cadastro']" routerDirection="forward" class="cadastro" expand="block" color="light">CADASTRO</ion-button>
    </div>
  </div>
  
</ion-content>
