.home{
    font-size: 60px;
    align-items: left;
}
.search{
    font-size: 60px;
    float: right 50%;
    margin-left: 30%;
}
.close{
    font-size: 60px;
    float: right;
}

.ancor{
    text-decoration: none;
}