<ion-header>
 
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/img/noiteestrelada.jpg" />
    <ion-card-header>
      <ion-card-title>Noite Estrelada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Noite Estrelada é uma pintura de Vincent van Gogh de 1889. A obra retrata a vista da janela de um quarto do hospício de Saint-Rémy-de-Provence, pouco antes do nascer do sol, com a adição de um vilarejo idealizado pelo artista.  
    </ion-card-content>
  </ion-card>

  <div>
    <a class="link" [routerLink]="['/home']" routerDirection="forward" >
      <ion-icon class="home" name="home"></ion-icon></a>
    <a class="link" [routerLink]="['/visitar']" routerDirection="forward" >
      <ion-icon class="search" name="search"></ion-icon></a>
    <a class="link" [routerLink]="['/logouf']" routerDirection="forward" >
      <ion-icon class="close" name="close-circle-outline"></ion-icon></a>
  </div>
  
</ion-content>
