.fundo{
    background-color: rgb(255, 217, 102);
}
.titulo{
    position: absolute;
    top: 50%;
    margin-top: -25%;
    left: 50%;
    margin-left: -100px;
}
.titulo1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 5ex;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.bemVindos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: azure;

    position: absolute;
    top: 63%;
    //margin-top: -15%;
    left: 50%;
    margin-left: -100px;
}