<ion-header>
</ion-header>

<ion-content class="fundo">
  <div>
    <div class="titulo" ><a class="titulo1" [routerLink]="['/login']" routerDirection="forward">seja<br> bem<br> vindo!</a></div>
    <div class="bemVindos">MUSEU DE ARTE<br> ASSIS CHATEAUBRIAND</div>
  </div>
</ion-content>
