.titulo{
    position: absolute;
    top: 30%;
    margin-top: -25%;
    left: 30%;
    margin-left: -100px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 5ex;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.home{
    font-size: 60px;
    position: absolute;
    top: 90%;
    margin-top: -15%;
    left: 65%;
    margin-left: -100px;
}