<ion-header>
 
</ion-header>
<ion-content>
    <div class="titulo">Obrigado<br> Por<br> Sua<br> Visita</div>

    <div class="home">
      <a class="link" [routerLink]="['/home']" routerDirection="forward" >
      <ion-icon name="home"></ion-icon></a>
    </div>
</ion-content>
